PORT=placeholder
DATABASE=placeholder
NODE_ENV=development
JWT_SECRET=placeholder
JWT_EXPIRES_IN=placeholder
JWT_COOKIE_EXPIRES_IN=placeholder

EMAIL_USERNAME=placeholder
EMAIL_PASSWORD=placeholder
EMAIL_HOST=placeholder
EMAIL_PORT=placeholder

EMAIL_FROM=placeholder

SENDGRID_USERNAME=placeholder
SENDGRID_PASSWORD=placeholder

STRIPE_SECRET_KEY=placeholder